<h3>Cadastrar servicios</h3>

<%= render 'form', user_x_service: @user_x_service %>

<%= link_to 'Show', @user_x_service,class:"btn btn-primary" %> |
<%= link_to 'Back', user_x_services_path, class:"btn btn-primary" %>


