<h3>Modificar servicios</h3>

<%= render 'form', user_x_service: @user_x_service %>

<%= link_to 'Mostrar', @user_x_service,class:"btn btn-primary" %> |
<%= link_to 'Volver', user_x_services_path, class:"btn btn-primary" %>


