<!DOCTYPE html>
<html>
<head>
	<title>drernaje linfatico</title>
	<meta charset="utf-8">
	<meta name="author" content="Guilherme">
	<meta name="description" content="descricao">
	<meta name="keywords" content="html5, tecnologia">
	<link rel="stylesheet" href="/assets/drenajelinfatico.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
	<div class="drena">
		<h1><font size="7">drenaje linfatico</font></h1>
	</div>

<div class="box">
	<p class="paragrafo">
		El sistema linfático cumple una doble función:
		
		   <ul class="ueli">
		        <li>Depuración, al eliminar del organismo las toxinas y sustancia de deshecho</li>
		               
		        <li>Protección, al modular la respuesta del sistema inmunitario frente a bacterias, virus y otras sustancias extrañas que puedan llegar al interior del organismo.</li>

		        La primera de estas funciones implica evitar la acumulación de líquidos y la absorción de la grasa y las vitaminas solubles desde el aparto digestivo para transportarlas mediante el sistema circulatorio, del que forma parte.
		    </ul></p>
		        <p class="paragrafo">Por ello el drenaje linfático es un tipo de masaje, suave y ligero, que se aplica sobre el sistema circulatorio y cuyo objetivo es movilizar los líquidos del organismo para favorecer la eliminación de las sustancias de deshecho que se acumulan en el líquido que ocupa el espacio entre las células. De ahí que una de las principales aplicaciones del drenaje linfático sea en la retención de líquidos, aunque en la medicina estética también se utiliza en el tratamiento de la celulitis, los problemas de circulación, las piernas cansadas, los procesos de cicatrización, el acné, los edemas, etc.
				Los beneficios del drenaje linfático en todos estos campos se debe a que:</p>
			<ul class="ueli">
				<li>Ayuda a reabsorber los líquidos.</li>
				<li>Tiene una acción sedante sobre el dolor.</li>
				<li>Reduce la inflamación.</li>
				<li>Contribuye a mejorar las defensas del organismo.</li>
				<li>Produce un efecto de relajación, por lo que se recomienda para situaciones de estrés.</li>
			</ul></p>
				<p class="paragrafo">El drenaje linfático es un buen tratamiento para la piel, ya que favorece la circulación de la sangre ayudando a que no se formen bolsas y arrugas. Normalmente, dependiendo del tipo de problema para el que se requiera el masaje, se pueden necesitar hasta diez sesiones de una duración de aproximadamente una hora para que los efectos sean perceptibles.</p>
    </p>
</div>
</div>
