<!DOCTYPE html>
<html>
<head>
	<title>mesoterapia</title>
	<meta charset="utf-8">
	<meta name="author" content="Guilherme">
	<meta name="description" content="descricao">
	<meta name="keywords" content="html5, tecnologia">
	<link rel="stylesheet" href="/assets/exfoliacionaclarante.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
	<div class="exfoliacion">
		<h1>exfoliacion aclarante</h1>
	</div>

	<div class="box4">
		<p class="paragrafo">
			con el paso del tiempo y en épocas de estrés y cansancio, la renovación tarda más. Como consecuencia, la piel empieza a mostrar signos de resequedad y poca oxigenación. Al no reemplazar las células muertas, la piel se marchita y luce apagada y envejecida.</p>
    <p class="paragrafo">Por eso es vital complementar la limpieza, hidratación y protección del rostro con una exfoliación semanal. Es decir, ayudar al proceso natural de la piel con algún producto que remueva las células muertas para darle paso a una renovación celular de la dermis. La exfoliación asegura una regeneración efectiva al permitir que la piel quede más permeable y lista para absorber los nutrientes y principios activos de los productos humectantes y de rejuvenecimiento. Asimismo estimula la oxigenación celular.<p>
	    
	