<!DOCTYPE html>
<html>
<head>
	<title>mesoterapia</title>
	<meta charset="utf-8">
	<meta name="author" content="Guilherme">
	<meta name="description" content="descricao">
	<meta name="keywords" content="html5, tecnologia">
	
	<%= stylesheet_link_tag  'mesoterapia', media: 'all', 'data-turbolinks-track': 'reload' %>
  
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	
</head>
<body>
<div class="meso">
	<h1><font size="7">Mesoterapia</font></h1>
		</div>

			<div class="cuadrado">
					<p class="text">
						Para el tratamiento de la celulitis y la eliminación de grasa localizada, la mesoterapia utiliza microinyecciones de sustancias homeopáticas que se aplican directamente, actuando a tres niveles diferentes:

						Celular: estimula los adipocitos para que liberen la grasa que contienen.
						Vascular: favorece la microcirculación local y sistémica.
						Linfática: facilita el drenaje linfático de las toxinas acumuladas.
						Se suelen necesitar entre 10 y 12 sesiones a razón de una semanal, para seguir con cuatro sesiones quincenales y posteriormente una mensual o bimensual de mantenimiento.

						En lo que respecta a los tratamientos de rejuvenecimiento cutáneo, la mesoterapia consiste en la inyección generalmente de vitaminas y ácido hialurónico en las zonas de la cara y cuello en las que hay arrugas.

						También se utilizan otros medicamentos para la hidratación en profundidad de la piel y estimular la formación de colágeno y elastina para reducir la flacidez de la piel. En este caso, la frecuencia del tratamiento es de una sesión cada quince días hasta completar un total de seis. Posteriormente se realiza una sesión de mantenimiento cada mes o mes y medio.

						Para el tratamiento de la caída del cabello se utilizan enzimas, provitaminas, vitaminas, selenio, complejos regeneradores, que se inyectan en la unidad pilosebácea para nutrir, fortalecer y regenerar el cabello. El número de sesiones variará de un paciente a otro, aunque oscila entre las seis y las diez.

						Los procedimientos de mesoterapia no requieren anestesia local, es indolora y no tiene efectos adversos, salvo un ligero enrojecimiento e inflamación de la piel allí donde se aplican las microinyecciones.
						
					</p>
			</div>
		</div>
		
</div>
</body>
</html>