<!DOCTYPE html>
<html>
<head>
	<title>mesoterapia</title>
	<meta charset="utf-8">
	<meta name="author" content="Guilherme">
	<meta name="description" content="descricao">
	<meta name="keywords" content="html5, tecnologia">
	<%= stylesheet_link_tag  'microdermoabrasion', media: 'all', 'data-turbolinks-track': 'reload' %>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>
	<div class="micro">
		<h1>micro dermo abrasion</h1>
	</div>

	<div class="box3">
		<p class="paragrafo">
	    <p class="paragrafo">la microdermoabrasión es una exfoliación que trabaja sobre la epidermis y la dermis de una manera suave, con resultados parecidos a los de los peeling, eliminando las células muertas y favoreciendo la aparición de células nuevas.</p>
		<p class="paragrafo">Precisamente el origen de las técnica de la microdermoabrasión está en la dermoabrasión.</p>
		<p class="paragrafo">profundiza más en la epidermis, pero el tiempo de recuperación es mayor. En la microdermoabrasión haces vida normal después de la sesión, la dermoabrasión requiere varias semanas dependiendo del caso.</p>
		<p class="paragrafo">Por otro lado, la microdermoabrasión no es nada agresiva y permite retomar nuestra vida normal después de la sesión de una manera natural.</p>
		<p class="paragrafo">Eso sí, debemos protegernos del sol los días posteriores a las sesiones.</p>
		<p class="paragrafo">La microdermoabrasión no es exclusiva de las mujeres. También los hombres se están acercando a las clínicas para llevarla a cabo. El único requisito para recibir sesiones tener la piel sana en buen estado.</p>
		<p class="paragrafo">Conviene subrayar que no hace que tener acné, estrias o arrugas para acercarse a la microdermoabrasión. Su objetivo es rejuvenecer la piel, así que se puede generalizar y afirmar que es buena para todos aunque tengamos la piel sana.</p>
		<p class="paragrafo">Una cosa buena de la microdermoabrasión es que si no tenemos presupuesto para hacérnosla en una clínica, siempre podemos hacer microdermoabrasión casera. Que sea en casa no significa que sea peor, cutre o perjudicial. La única condición para llevar a cabo la microdermoabrasión casera que te proponemos es que no seas alérgico a sus componentes. Puedes probar tranquilamente y luego nos cuentas qué resultados obtuviste.</p>
		<p class="paragrafo">Otra técnica más profesional que suele llevarse a cabo en clínicas especializadas es la microdermoabrasión con punta de diamante. Hay que resaltar sobre todo la alta precisión que se consigue sobre la zona de la piel que pretendemos aplicar el tratamiento, gracias a la tecnología utilizada.</p>
		<p class="paragrafo">Un ejemplo claro que podemos tratar con la microdermoabrasión tanto casera como profesional es la mejora o eliminación de las marcas leves que deja el acné.</p>
	</div>

	
  