<!DOCTYPE html>
<html>
<head>
	<title>radio frequencia</title>
	<meta charset="utf-8">
	<meta name="author" content="Guilherme">
	<meta name="description" content="descricao">
	<meta name="keywords" content="html5, tecnologia">

    <%= stylesheet_link_tag  'radiofrequencia', media: 'all', 'data-turbolinks-track': 'reload' %>
  
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
	<div class="radio">
		<h1><font size="7">radio frequencia</font></h1>
	</div>

	<div class="box2">
		<p class="paragrafo">
			El método consiste en la conversión de energía electromagnética en efecto térmico en el tejido biológico. Este calentamiento promueve diversas reacciones metabólicas y estructurales, como la contracción de las fibras elásticas, la producción de un nuevo colágeno y la retracción de la piel. Este aumento de la temperatura del tisular todavía proporciona la mejora de la circulación sanguínea y linfática.

			<p class="paragrafo">Estos beneficios garantizan resultados eficaces en diversas patologías. Conozca algunas de las indicaciones y resultados de la radiofrecuencia:<p>

			<p class="paragrafo">Celulitis – el uso de esta tecnología en la celulitis tiene dos objetivos: la resolución de la fibrosis, caracterizado por el aprisionamiento de los adipocitos y  linfa, y la propria facilitación de la drenaje utilizando el aumento de la vascularización sanguínea generada por el calor interno para estimular el drenaje linfático, reduciendo las concentraciones de toxinas de las células adiposas y consecuentemente su tamaño.</p>

			<p class="paragrafo">Estrías – Los efectos de la reorganización de las fibras de colágeno permiten la posibilidad de uso de las frecuencias radioeléctricas en la corrección de las estrías atróficas en cualquier etapa.</p>

			<p class="paragrafo">Estética íntima – la radiofrecuencia es una buena alternativa para el tratamiento de la flacidez de los grandes labios , especialmente en la percepción personal, creando un efecto de «llenado» de la región.</p>

			<p class="paragrafo">Grasa localizada – el uso de esta tecnología promueve el aumento de la vascularización local, activando el metabolismo enzimático, ocurriendo el trasvase del triglicéridos para la fuera de la célula, reduciendo así  el tejido adiposo (grasa).</p>

			<p class="paragrafo">Rejuvenecimiento – la radiofrecuencia es indicada para la flacidez tisular (piel) corporal y facial. El aumento del calor proporciona la contracción de las fibras colágenas y elásticas de la piel, ocurriendo entonces la formación de un nuevo colágeno adicional, mejorando la tonicidad y la sostenibilidad de la piel.</p>
		</p>
	</div>
