<!DOCTYPE html>
<html>
<head>
	<title>ultracavitacion</title>
	<meta charset="utf-8">
	<meta name="author" content="Guilherme">
	<meta name="description" content="descricao">
	<meta name="keywords" content="html5, tecnologia">
	<link rel="stylesheet" href="/assets/ultra.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style> 
		  .w3-btn {width:150px;}
		</style>
</head>
<body> 
<div class="ultra">
	<h1><font size="7">Ultra cavitacion</font></h1>

</div>

<div class="caja" >
	<p class="para">La ultracavitación consiste en la utilización de ultrasonido para romper los adipocitos (células grasas). Esta acción consigue que los ácidos grasos se liberen en la sangre, recorriendo el cuerpo a través de las arterias y las venas. Dichas sustancias finalmente son eliminadas del organismo a través de la orina.</p>
	  <ul style ="font-size: 16px;" class="puntos"> 
		<li> puede ayudar a reducir la celulitis hasta un 80%;</li>
        <li> los pacientes pueden escoger qué zonas tratar, y este es uno de los puntos que vuelven la ultracavitación tan atractiva frente a otras técnicas;</li>
        <li> consigue reducir la piel de naranja, una condición que afecta a muchísimas personas y les impide disfrutar de su cuerpo;</li>
        <li> ayuda a reafirmar el tejido, algo muy tentador para los pacientes de cierta edad;</li>
        <li> los cambios pueden notarse desde la primera sesión;</li>
        <li>la zona del tratamiento se mantiene libre de grasa;</li>
        <li> la aplicación de la ultracavitación es absolutamente indolora;</li>
        <li> no acarrea efectos secundarios importantes</li>
    </ul>
</div>

<!--<div id="googleMap" style="width:40%;height:300px;"></div>

<script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng(51.508742,-0.120850),
  zoom:5,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
<div id="googleMap" style="width:40%;height:300px"></div> -->
